/* style.css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    background: repeating-linear-gradient(135deg, rgba(0,0,0,0.05), rgba(0,0,0,0.06), rgba(0,0,0,0.05), transparent, rgba(0,0,0,0.05), rgba(0,0,0,0.1), rgba(0,0,0,0.1), rgba(0,0,0,0.06), rgba(0,0,0,0.02), rgba(0,0,0,0.05), rgba(0,0,0,0.04), rgba(0,0,0,0.02), rgba(0,0,0,0.07) 3px), linear-gradient(90deg, rgb(63, 122, 63), rgb(177, 218, 62));
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(18, 19, 19);
    padding: 9px;
    position: fixed;
    top: 0; /* Fixe l'en-tête en haut de la fenêtre du navigateur */
    z-index: 100;
}

.navigation {
    list-style: none;
    margin: 0;
    padding: 20px;
    margin-right: 200px;
    

}

.navigation li {
    display: inline;
    margin-right: 20px;
   
}

.navigation a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Georgia;
  
}
.img_logo{
    width: 70px;
    height: 70px ;
    margin-left: 100px;
    cursor: pointer;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

.text {
    width: 700px;
    height: 300px;
    color: rgba(250, 240, 102, 0.993);
    font-size: 27px;
    text-align: center;
    padding: 7px;
    padding-bottom: 40px;
    background-color: rgba(17, 16, 16, 0.46);
    border-radius: 30px;
    margin-right: 20px; 
}
.text:hover{
    color: white;
    background-color: black;
}

.img_hom{
    width: 450px;
    height: 500px;
    border-radius: 15px;
}
.container_text1{
    width: 900px;
    height: 1200px;
    color: #121313;
    padding: 2px;
    padding-left: 40px;
    padding-right: 60px;
    padding-top: 20px;
    background-color: rgba(171, 229, 146, 0.24);
    border-radius: 30px;
    margin-left: 350px;
    margin-bottom: 450px;
    font-family: cursive;
    font-size: 19px;

}
.titre_taille{
    margin-left: 650px;
    margin-top: 10px;
    background-color: rgba(18, 143, 77, 0.75);
    width: 310px;
    height: 60px;
    padding: 11px;
    border-radius: 40px;
    margin-bottom: 50px;
    margin-top: 100px;
    color: #eaea9b;
    padding-bottom: 40px;
}
.img_taille1 {
    width: 400px;
    height: 400px;
    padding: 15px;
    border-radius: 50%;
    background-color: rgb(18, 19, 19);
}
.img_fruit1{
    width: 600px;
    height: 500px;
    margin-top: 60px;
    margin-left: 220px;
    border-radius: 10%;
    padding: 20px;
    background-color: rgb(18, 19, 19);

}
footer {
    background-color: rgb(18, 19, 19);
    color: #fff;
    text-align: center;
    padding: 60px;
}




