/* style.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: repeating-linear-gradient(135deg, rgba(0,0,0,0.05), rgba(0,0,0,0.06), rgba(0,0,0,0.05), transparent, rgba(0,0,0,0.05), rgba(0,0,0,0.1), rgba(0,0,0,0.1), rgba(0,0,0,0.06), rgba(0,0,0,0.02), rgba(0,0,0,0.05), rgba(0,0,0,0.04), rgba(0,0,0,0.02), rgba(0,0,0,0.07) 3px), linear-gradient(90deg, rgb(63, 122, 63), rgb(177, 218, 62));
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
   
    
}

.navigation {
    list-style: none;
    margin: 0;
    padding: 20px;
    margin-right: 200px;
    

}

.navigation li {
    display: inline;
    margin-right: 20px;
   
}

.navigation a {
    text-decoration: none;
    color:rgba(250, 240, 102, 0.993);
  
}
.logo {
    width: 60px;
    height: 50px ;
    margin-left: 100px;
    cursor: pointer;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

.text {
    width: 700px;
    height: 300px;
    color: rgba(250, 240, 102, 0.993);
    font-size: 27px;
    text-align: center;
    padding: 4px;
    background-color: rgba(17, 16, 16, 0.46);
    border-radius: 30px;
    margin-right: 20px; 
}

img {
    width: 450px;
    height: 500px;
    border-radius: 15px; /* Ajoutez un peu de bord arrondi à l'image si vous le souhaitez */
}
