/* style.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: repeating-linear-gradient(135deg, rgba(0,0,0,0.05), rgba(0,0,0,0.06), rgba(0,0,0,0.05), transparent, rgba(0,0,0,0.05), rgba(0,0,0,0.1), rgba(0,0,0,0.1), rgba(0,0,0,0.06), rgba(0,0,0,0.02), rgba(0,0,0,0.05), rgba(0,0,0,0.04), rgba(0,0,0,0.02), rgba(0,0,0,0.07) 3px), linear-gradient(90deg, rgb(63, 122, 63), rgb(177, 218, 62));
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    display: inline;
    margin-right: 20px;
}

.navigation a {
    text-decoration: none;
    color: white;
}

.text {
    width: 700px;
    height: 300px;
    margin: 150px auto;
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
    padding: 9px;
    background-color: rgba(17, 16, 16, 0.46);
    border-radius: 30px;
}

img {
    width: 770px;
    height: 750px;
    display: block;
    margin: 0 auto;
}

.logo {
    width: 100px;
    cursor: pointer;
}
